<h1>Home</h1>
<p>
	List serveys here
</p>
<%= link_to "Take Survey", take_path, :class => "signup_button round" %><P></P>
<%= link_to "Survey Administration", sadmin_path, :class => "signup_button round" %><P></P>
<%= link_to "View Results", results_path, :class => "signup_button round" %><P></P>
